*{
    margin: 0;
    padding: 0;
}
li,ul,h1{
    display: inline;
    cursor: pointer;
}
.nav{
    background-color: black;
    color: aliceblue;
    padding: 10px;
}
ul{
    margin-left: 60%;
}
li{
    padding: 8px;
}
h1{
    padding: 10px;
}
